.profile-heading {
    font-size: 22px;
    text-align: center;
}
.profile-card {
    // ON TABLET -> DESKTOP VIEW
    // width: 450px;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__image {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__info {
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: aliceblue;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
