@use "../../assets/styles/variables" as *;

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border: 2px solid $color-primary;
    padding: 10px;

    &__count {
        margin: 10px 0;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100px;

        .counter-container__button {
            outline: none;
            border: none;
            padding: 4px;
            width: 20px;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}
