.card-container {
    padding: 10px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: aliceblue;
        width: 260px;
        height: 250px;
        padding: 20px;
        border-radius: 8px;
        margin-top: 8px;

        .card-container__heading {
            font-size: 18px;
        }

        .card-container__role {
            margin: 4px 0px;
        }
    }
}
