.tickets-heading {
    text-align: center;
    margin: 20px;
}
.tickets {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: aliceblue;
        width: 260px;
        height: 250px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
        margin-top: 8px;

        .tickets__link {
            text-decoration: none;
            color: black;
        }

        .ticket__heading {
            font-size: 18px;
        }

        .ticket__role {
            margin: 4px 0px;
        }
    }
}

@media screen and (min-width: 768px) {
    .tickets-heading {
        font-size: 32px;
    }
    .tickets {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}
