@use "../../assets/styles/variables" as *;

.tickets-heading {
    text-align: center;
    margin: 20px;
}

.tickets {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-tertiary;
        width: 260px;
        height: 250px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 3px 3px 3px rgba($color-black, $alpha: 0.5);
        margin-top: 8px;
        transition: transform 0.3s ease;

        .tickets__link {
            text-decoration: none;
            color: $color-black;
        }

        .ticket__heading {
            font-size: 18px;
        }

        .ticket__role {
            margin: 4px 0px;
        }
    }

    &__content:hover {
        transform: translate(5px, -5px);
    }
}

@media screen and (min-width: 768px) {
    .tickets-heading {
        font-size: 32px;
    }
    .tickets {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}
