@use "../../assets/styles/variables" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    &__logo {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        text-decoration: none;
        cursor: pointer;

        &-text {
            color: $color-primary;
        }
        &-icon {
            width: 40px;
        }
    }

    &__items {
        display: flex;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 10px;
        padding: 6px 6px;
        font-size: 14px;
    }

    &__link:hover {
        background-color: $color-secondary;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        padding: 25px;
        margin: 0 20px;
        &__logo {
            font-size: 18px;
        }
        &__link {
            font-size: 18px;
            padding: 6px 12px;
        }
    }
}
